@import url('https://fonts.cdnfonts.com/css/akrobat');

body {
  background-size: cover;
  background-image: url("img/background.png");
  overflow: hidden;
}

#logo {
  position: absolute;
  width: 4.2vh;
  height: 3vw;
  top: 5%;
  left: 5%;
}

#mascot_mobile {
  display: none;
}

#strich1 {
  position: absolute;
  width: 206.67vh;
  height: 0;
  border: 0.05vw solid rgba(53, 53, 53, 0.6);
  left: 0;
  top: 15%;
}

#home, #forum, #shop, #rules, #dc {
  position: absolute;
  font-family: 'Akrobat Light', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1.04vw;
  line-height: 1.25vw;
  color: #FFFFFF;
  text-decoration: none;
}

#home { left: 25%; top: 7%; }
#forum { left: 40%; top: 7%; }
#shop { left: 55%; top: 7%; }
#rules { left: 70%; top: 7%; }
#dc { left: 85%; top: 7%; }

#home:hover, #forum:hover, #shop:hover, #rules:hover, #dc:hover {
  color: #0084ff;
}

#homestrich {
  position: absolute;
  width: 2.37vh;
  height: 0.1vw;
  background: #0084FF;
  box-shadow: 0 0 0.16vw #6DB9FF;
  top: 10%;
  left: 25.5%;
}

#serverinfo, #serverextra {
  position: absolute;
  font-family: 'Akrobat SemiBold', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.3vw;
  line-height: 1.56vw;
  color: #FFFFFF;
}

#serverinfo { top: 20%; }
#serverextra { top: 50%; }

#serverinfotext, #serverextratext {
  position: absolute;
  font-family: 'Akrobat Light', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 0.63vw;
  line-height: 0.73vw;
  color: rgba(255, 255, 255, 0.5);
}

#serverinfotext { top: 30%; }
#serverextratext { top: 60%; }

#play {
  position: absolute;
  width: 44.13vh;
  height: 4.58vw;
  background: rgba(0, 132, 255, 0.8);
  box-shadow: 0 0 0.26vw #65C7FF;
  border-radius: 0.26vw;
  text-align: center;
  top: 80%;
  left: 60%;
  cursor: pointer;
  transition: 0.5s;
}

#play:after {
  content: '▶';
  font-family: 'Akrobat Light', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.82vw;
  line-height: 2.19vw;
  color: #000000;
  position: absolute;
  opacity: 0;
  top: 30%;
  left: 40%;
  transition: 0.3s;
}

#play:hover {
  padding-right: 2%;
  padding-left: 1%;
}

#play:hover:after {
  opacity: 1;
  right: 2%;
}

#playtext {
  position: absolute;
  left: 40%;
  top: 30%;
  font-family: 'Akrobat Light', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 1.82vw;
  line-height: 2.19vw;
  color: #000000;
}

#mascot {
  position: absolute;
  max-width: 100%;
  height: auto;
  left: -20%;
  top: 10%;
}

#logotext {
  position: absolute;
  top: 5.4%;
  font-family: 'Akrobat Bold', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 1.54vw;
  line-height: 1.56vw;
  color: #0084FF;
  left: 9%;
}

#logotext2 {
  position: absolute;
  top: 80%;
  left: 0%;
  font-size: 1.25vw;
  color: #FFFFFF;
}

#mobile-trigger, #mobilenav {
  display: none;
}

@media (max-width: 1000px) {
  body {
    overflow-x: hidden;
    background-image: url(img/bg_mobile.png);
  }

  #logo {
    width: 9.56vw;
    height: 7.24vh;
    top: 2%;
    left: 28%;
  }

  #logotext {
    top: 2%;
    left: 40%;
    font-size: 8.04vw;
    line-height: 8.56vw;
  }

  #logotext2 {
    font-size: 6.89vw;
  }

  #servername {
    font-size: 8.13vw;
    left: 12.5%;
  }

  #textbox {
    width: 83.06vh;
    height: 66.04vw;
    top: 30%;
    left: 5%;
    text-align: left;
  }

  #serverinfo, #serverextra {
    font-size: 5.3vw;
  }

  #serverinfotext, #serverextratext {
    font-size: 2.63vw;
    line-height: 2.99vw;
  }

  #mascot {
    left: -35%;
    top: 15%;
    opacity: 20%;
  }

  #play {
    width: 24.13vh;
    height: 10.58vw;
    top: 80%;
    left: 30%;
  }

  #playtext {
    left: 33.2%;
    top: 40%;
    font-size: 7.82vw;
  }

  #home, #forum, #shop, #rules, #dc {
    font-size: 3.54vw;
    left: 10%;
    top: 15%;
  }

  #homestrich, #strich1 {
    display: none;
  }
}
